<main class="main-content flex flex-col gap-12">
    <header>
        <section class="flex flex-row welcome-header">
            <div>
                <div class="flex flex-row items-center gap-2">
                    <h1 class="welcome">Welcome,</h1>
                    <h1 class="welcome-name">Darrick</h1>
                </div>
                <p class="description">
                    SkillWise is a talent management and learning platform with AI-driven personalized course
                    recommendations and gamification elements to make learning fun and engaging.
                </p>
            </div>
            <div class="ml-auto">
                <img src="/assets/logo.svg" alt="logo">
            </div>
        </section>
        <section class="mt-4">
            <button class="browse-button rounded-md border-solid border-2 border-black px-4 py-2">
                Browse
            </button>
        </section>
    </header>
    
    <section>
        <h2>Let's Continue</h2>
        <section class="grid grid-cols-4 gap-8 continue-grid">
            <ng-container class="card-container" *ngFor="let course of courses">
                <div class="card w-fit">
                    <div class="card-header">
                        <img class="card-thumbnail" src="{{ course.thumbnailUrl }}" alt="{{ course.name }} thumbnail">
                        <div class="card-badge">
                            <img class="card-badge-content" src="/assets/etc/gold-coin.png" alt="badge">
                            <p class="card-badge-content-text">+{{course.reward}}</p>
                        </div>

                    </div>
                    <div class="card-body px-4 py-2">
                        <h3 class="card-title">{{ course.name }}</h3>
                        <p class="card-description">{{ course.description }}</p>

                        <div class="flex flex-row gap-8 items-center">
                            <img src="{{ course.logoUrl }}" alt="{{ course.name }} logo" class="logo-small">
                            <div class="card-progress">
                                <div class="progress-bar">
                                    {{course.progress}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </section>
    </section>
</main>