<main class="main-content flex flex-col gap-12">
    <header>
        <section class="flex flex-row welcome-header">
            <div>
                <div class="flex flex-row items-center gap-2">
                    <h1 class="welcome">Welcome,</h1>
                    <h1 class="welcome-name">Darrick</h1>
                </div>
                <p class="description">
                    SkillWise is a talent management and learning platform with AI-driven personalized course recommendations and gamification elements to make learning fun and engaging.
                </p>
            </div>
            <div class="ml-auto">
                <img src="/assets/logo.svg" alt="logo">
            </div>
        </section>
        <section class="mt-4">
            <button class="browse-button rounded-md border-solid border-2 border-black px-4 py-2">
                Browse
            </button>
        </section>
    </header>

    <section class="">
        <h2>Let's Continue</h2>
    </section>
</main>